airr==1.4.1
dill==0.3.5.1
editdistance==0.5.3
fisher==0.1.10
gensim==3.8.3
h5py==2.10.0
joblib==1.2.0
logomaker==0.8
matplotlib==3.6.0
matplotlib_venn==0.11.7
numpy==1.23.3
palmotif==0.4
pandas==1.5.0
plotly==5.10.0
pystache==0.6.0
PyYAML==6.0
ray==2.0.0
scikit_learn==1.1.2
scipy==1.9.1
scripts==2.0
setuptools==63.4.1
torch==1.12.1
tqdm==4.64.1
